{{ header }}
<div  class="search_font"> 
    <div id="blog-search">
        <h4 class="headings_right">Search Articles</h4>
        <div id="form-search" >
            <div class="input-group">
                <input type="text" name="filter_search" value="" class="form-control" required="" placeholder="{{ search_placeholder }}">
                <div class="input-group-btn">
                    <button type="submit" id="button-search" class="btn btn-default btn-xs" style="height:34px;"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$('#button-search').bind("click", function(){
    url = 'index.php?route=extension/blog/blog_list';
    var keywords =  $('input[name=filter_search]').val();
    
    if (keywords) {
        url += '&filter_search=' + encodeURIComponent(keywords);
    }

    location = url;
    
});

$('input[name="filter_search"]').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: '{{ search_article_url }}&user_token={{ user_token }}&filter=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
            
                response($.map(json, function(item) {
                    return {
                        label: item['title'],
                        value: item['href']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        location.href=item['value'];
    }
});


</script>