{% if categories %} 
<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: #229ac8;">
    <ul class="nav navbar-nav">
      {% for category in categories %}
      <li><a href="{{ category.href }}" target="_blank" style="color:white;">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %} 